
/*.min{  padding: 0%; margin: 0%;}*/

.scroll{
    overflow-x: scroll;
    scrollbar-arrow-color: #8070d4;
    -ms-scrollbar-arrow-color: #8070d4;
    scrollbar-width: thin;
    scrollbar-color: rgb(11, 11, 220) rgb(175, 166, 166);
}

.scroll::-webkit-scrollbar{
    width: 5px;
}

.scroll::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: #8070d4;
    background-clip: content-box;
}
